
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 2px 1px 2px 1px rgb(197, 179, 213);

    background-color: white;
    font-family: 'Cherry Bomb One', 'chewy', sans-serif;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.header a {
    font-size: 18px;
    padding: 1rem;
    text-decoration: none;
    color: #474745;
    font-family: 'Cherry Bomb One', sans-serif;
}

.header a:hover {
    color: rgb(128, 128, 128);
}

.header-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#bella {
    width: 150px;
    height: 150px;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.moirai-one-regular {
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.outline {
    font-family: 'Cherry Bomb One', sans-serif;
    color: #ede7ff;/* Inside text color */
    
        -webkit-text-stroke: 1px #8b789f;
        text-shadow: 

        1px 1px 0px #9d7cc4,
        2px 2px 0px #8e6eac, /* Dark 3D layer */
        3px 3px 0px #6b4294,
        4px 4px 0px #6e5789;
}

.outline-2 {
    font-family: 'Cherry Bomb One', sans-serif;
    color: #ede7ff;/* Inside text color */
    
        -webkit-text-stroke: 0.5px #8b789f;
               text-shadow: 

        1px 1px 0px #b38fdc,
        2px 2px 0px #8e6eac;
}

h1 {
    font-family: 'Cherry Bomb One', sans-serif;
    color: rgb(44, 44, 44);
}

h2 {
    font-family: 'Cherry Bomb One', sans-serif;
    text-align: center;
    color: rgb(75, 56, 79);
}

h3 {
    font-family: 'Cherry Bomb One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(75, 56, 79);
}

.all-containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    flex-direction: row;
}
.left-containers {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    align-items: left;
}

.right-containers {

    justify-content: space-between;
    width: 50%;
    margin-top: 40px;
    margin-right: 40px;
    margin-left: 40px;
    
  
}


.container-1 {
    box-sizing: border-box;
    height: 150px;
    background-color: #ede7ff;
    display: flex;
    
    align-items: center;
}

#devi {
    margin-left: -20px;
    width: 220px;
    height: 220px
}

.container-3 {
    box-sizing: border-box;
    display: flex;
    height: auto;
    background-color: #ede7ff;
    flex-direction: column;
    align-items: center;
    position: relative;
  
}



#cloud {
    display: flex;
    width: 50%;
    bottom: 0;
    position: absolute;
}

ol {
    display: flex;
}

li {
    list-style-type: none;
    background-color: #eeeeee;
    border: 1px solid #dddddd;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-snap-align: center;
    flex: 0 0 100%;
}

li:nth-child(even) {
  background-color: rgb(219, 172, 255);
}

#carouselExampleIndicators {
    display: flex;
    max-width: 90%;
    margin-bottom: 20px;

}

#carouselExampleIndicators img {
    border-radius: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon {
        background-image: url('elements/next.png') !important;
}

.carousel-control-next {
    width: 60px; 
    height: 40px;
    margin: auto;
}

.carousel-control-prev {
    width: 60px; 
    height: 40px;
    margin: auto;
}

.carousel-control-prev-icon {
        background-image: url('elements/prev.png') !important;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 11%;
    width: 100%;
   
}

.icons a {
    display: flex;
    justify-content: center;
    width: 40px;
}

.icons img {
    display: inline-block;
    width: 100%;
    height: auto;
}

.link-bar{
    display: flex;
    justify-content: center;
}
.social-links{
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    width: 60%;
    border-radius: 25px;
    background-color: #ede7ff;
}

@media (min-width: 1000px) {

    #cloud {
    width: 50%;
    }

    .icons {

    gap: 11%;


}
}
