
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    border-radius: 4px;
    box-shadow: 2px 1px 2px 1px rgb(197, 179, 213);

    background-color: white;
    font-family: 'Cherry Bomb One', 'chewy', sans-serif;

    position: sticky;
    top: 0;
    z-index: 1000;
}

.header a {
    font-size: 18px;
    padding: 1rem;
    text-decoration: none;
    color: #474745;
    font-family: 'Cherry Bomb One', sans-serif;
}

.header a:hover {
    color: rgb(128, 128, 128);
}

.header-img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#bella {
    width: 60px;
    height: 60px;
}

.chewy-regular {
  font-family: "Chewy", system-ui;
  font-weight: 400;
  font-style: normal;
}

.cherry-bomb-one-regular {
  font-family: "Cherry Bomb One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.moirai-one-regular {
  font-family: "Moirai One", system-ui;
  font-weight: 400;
  font-style: normal;
}

.outline {
    font-family: 'Cherry Bomb One', sans-serif;
    color: #ede7ff;/* Inside text color */
    
        -webkit-text-stroke: 1px #8b789f;
        text-shadow: 

        1px 1px 0px #9d7cc4,
        2px 2px 0px #8e6eac, /* Dark 3D layer */
        3px 3px 0px #6b4294,
        4px 4px 0px #6e5789;
}

.outline-2 {
    font-family: 'Cherry Bomb One', sans-serif;
    color: #ede7ff;/* Inside text color */
    
        -webkit-text-stroke: 0.5px #8b789f;
               text-shadow: 

        1px 1px 0px #b38fdc,
        2px 2px 0px #8e6eac;
}

h1 {
    font-family: 'Cherry Bomb One', sans-serif;
    color: rgb(44, 44, 44);
}

h2 {
    margin-top: 40px;
    font-family: 'Cherry Bomb One', sans-serif;
    text-align: center;
    color: rgb(75, 56, 79);
}

h3 {
    font-family: 'Cherry Bomb One', sans-serif;
    font-size: 20px;
    text-align: center;
    color: rgb(75, 56, 79);
}

.all-containers {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80%;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.container-1 {
    box-sizing: border-box;
    height: 80%;
    width: auto;
    background-color: #ede7ff;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;
    padding: 10px;
}


.container-2 {
    box-sizing: border-box;
    height: 150px;
    width: auto;
    background-color: #ede7ff;
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
    justify-content: center;

}


#carouselExampleIndicators {
    display: flex;
    max-width: 70%;
    max-height: 70%;
    margin-top: 20px;
    margin-bottom: 20px;

}

#carouselExampleIndicators img {
    border-radius: 6px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-next-icon {
        background-image: url('../elements/next.png') !important;
}

.carousel-control-next {
    width: 60px; 
    height: 40px;
    margin: auto;
}

.carousel-control-prev {
    width: 60px; 
    height: 40px;
    margin: auto;
}

.carousel-control-prev-icon {
        background-image: url('../elements/prev.png') !important;
}
